<div appmdl class="component-container">
  <div class="component-header"><h1>Clubs</h1></div>
  <div class="component-content">
    <div class="content-left"><h2>Club List</h2>
      <div class="person-list">
        <div class="person-search">
          <div class="mdl-textfield mdl-js-textfield">
            <input [(ngModel)]="search" (change)="searchChange()" (input)="searchChange()" class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Search</label>
          </div>
        </div>
        <div id="person-list" class="list">
          <!-- TODO: refactor -->
          <button *ngFor="let club of searchResults" (click)="selectClub($event, club)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
            <span>{{club.name}}</span>
          </button>
          <span *ngIf="searchResults.length <= 0">Er zijn helaas geen zoekresultaten.</span>
          <!-- end refactor -->
        </div>
      </div>
      <div class="button-container">
        <div id="p2" *ngIf="loading === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div class="container row-1">
          <button (click)="deleteClub()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
            <span>Delete</span></button>
          <button (click)="enableEditMode()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Edit</span></button>
        </div>
        <div class="container row-2">
          <button (click)="enableAddMode()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Add</span></button>
        </div>
      </div>
    </div>
    <div class="content-divider"></div>
    <div class="content-divider no-border"></div>
    <div class="content-right" *ngIf="editMode === false && addMode === false">
      <!-- TODO: Adapt to Club -->
      <h2>Information</h2>
      <div class="person-information">
        <p *ngIf="selectedClub != null || selectedClub != undefined">
          <span>Name: </span><span>{{selectedClub.name}}</span>
        </p>
        <p *ngIf="(selectedClub != null || selectedClub != undefined) && (selectedClub.clubStreetAddress != undefined || selectedClub.clubStreetAddress != null)">
          <span>Address: </span><span>{{selectedClub.clubStreetAddress}}</span></p>
        <p *ngIf="(selectedClub != null || selectedClub != undefined) && (selectedClub.clubPlace != undefined || selectedClub.clubPlace != null)">
          <span>Place: </span><span>{{selectedClub.clubPlace}}</span></p>
        <div class="person-list" *ngIf="(selectedClub != null || selectedClub != undefined)">
          <h3 class="club-person-list">person</h3>
          <div id="club-person-list" class="list">
            <!-- TODO: refactor -->
            <button *ngFor="let person of selectedClub.persons" (click)="selectPersonInClub($event, person)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
              <span>{{person | name}}</span>
            </button>
            <span *ngIf="selectedClub.persons.length <= 0">Er zijn geen spelers geregistreerd aan deze club.</span>
            <!-- end refactor -->
          </div>
          <div appmdl class="club-person-button-container">
            <button (click)="deletePersonFromClub(selectedClub)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
              <span>Remove</span></button>
            <button (click)="openPersonPopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
              <span>Add Person</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="edit-person" class="content-right" *ngIf="editMode === true && addMode === false"><h2>Edit Club</h2>
      <div appmdl class="add-person-form">
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedClub.name" class="mdl-textfield__input" type="text" id="name-edit" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="name-edit">Club Name*</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedClub.clubStreetAddress" class="mdl-textfield__input" type="text" id="clubStreetAddress-edit">
            <label class="mdl-textfield__label" for="clubStreetAddress-edit">Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="selectedClub.clubPlace" class="mdl-textfield__input" type="text" id="clubPlace-edit">
            <label class="mdl-textfield__label" for="clubPlace-edit">Place</label>
          </div>
        </div>
        <div>
          <p>* = required</p>
        </div>
      </div>
      <div class="right-buttons-container">
        <button (click)="cancelAllModes()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
          <span>Cancel</span></button>
        <button (click)="updateClub()" [disabled]="!mayEditClub()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
          <span>Edit Club</span>
        </button>
      </div>
    </div>
    <div appmdl class="content-right" *ngIf="editMode === false && addMode === true"><h2>Create new Club</h2>
      <div class="add-person-form">
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newClub.name" class="mdl-textfield__input" type="text" id="name" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="name">Club Name*</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newClub.clubStreetAddress" class="mdl-textfield__input" type="text" id="clubStreetAddress">
            <label class="mdl-textfield__label" for="clubStreetAddress">Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="newClub.clubPlace" class="mdl-textfield__input" type="text" id="clubPlace">
            <label class="mdl-textfield__label" for="clubPlace">Place</label>
          </div>
        </div>
        <div>
          <p>* = required</p>
        </div>
      </div>
      <div class="right-buttons-container">
        <button (click)="cancelAllModes()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
          <span>Cancel</span></button>
        <button (click)="createNewClub()" [disabled]="!mayCreateNewClub()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
          <span>Add Club</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="delete-popup" class="popup-backdrop hidden">
  <div *ngIf="selectedClub != null || selectedClub != undefined" class="popup">
    <p>Are you sure you want to delete <strong>{{selectedClub.name}}</strong>?</p>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
        <span>Cancel</span></button>
      <button (click)="disablePopup(); confirmDelete(selectedClub.clubId)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
        <span>Yes</span></button>
    </div>
  </div>
  <div *ngIf="selectedClub === null || selectedClub === undefined" class="popup">
    <p>You have not selected a Club</p>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary"><span>Ok</span>
      </button>
    </div>
  </div>
</div>
<div id="add-person-popup" class="popup-backdrop hidden">
  <div class="popup">
    <h3>Add person</h3>
    <div class="person-search">
      <div class="mdl-textfield mdl-js-textfield">
        <input [(ngModel)]="searchQueryPerson" (change)="searchPersonChange()" (input)="searchPersonChange()" class="mdl-textfield__input" type="text" id="searchPerson">
        <label class="mdl-textfield__label" for="sample1">Search</label>
      </div>
    </div>
    <div class="person-list">
      <button *ngFor="let person of searchPersons" (click)="addPersonToSelection(person)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
        <span>{{person | name}}</span><span *ngIf="person.clubName != null && person.clubName != undefined">&nbsp;({{person.clubName}})</span>
      </button>
    </div>
    <div class="chips">
      <span appmdl class="mdl-chip mdl-chip--deletable" *ngFor="let person of selectedPersons">
        <span class="mdl-chip__text">{{person | name}}</span>
        <span class="mdl-chip__action" (click)="removePersonFromSelection(person)"><i class="material-icons">close</i></span>
      </span>
    </div>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
        <span>Cancel</span></button>
      <button (click)="addPersonsToClub()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
        <span>Add</span></button>
    </div>
    <div appmdl id="loadingAddPersons" *ngIf="loadingAddPersons === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
</div>
