@import '../../themes/_colors.scss';
@import '../../themes/_fonts.scss';

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 20vw;
  background-color: $primary;

  .top-wrapper {
    height: 20vh;
    min-height: 200px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h1 {
      color: $tertiary;
      font-size: 5vmin;
    }
  }
  .divider {
    height: 0;
    width: 95%;
    border-bottom: solid thin $tertiary;
  }
  .navigation-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    > * {
      margin: 10px 0;
    }
    [class*="navigation"] {
      width: 100%;
      display: flex;
      flex-direction: column;
      button {
        background-color: rgba(147, 23, 223, 0);
        text-align: left;
        margin: 20px 0;
        font-size: 3vmin;
        color: white;
        .button-text {
          transition: padding-left 0.2s ease-in-out;
        }
        &:hover .button-text {
          padding-left: 10px;
          transition: padding-left 0.2s ease-in-out;
        }
      }
      .navigation-sub {
        margin-left: 30px;
        button {
          margin: 5px 0 10px 0;
        }
      }
    }
  }
}
