<div class="navbar">
  <div routerLink="" class="top-wrapper">
    <h1>SV Horst '76</h1>
  </div>
  <div class="divider"></div>
  <div class="navigation-wrapper">
    <div class="navigation">
      <button routerLink="match"><span class="srpaqm">›</span> <span class="button-text">Match</span></button>
    </div>
    <div class="navigation">
      <button routerLink="club"><span class="srpaqm">›</span> <span class="button-text">Club</span></button>
    </div>
    <div class="navigation">
      <button routerLink="person"><span class="srpaqm">›</span> <span class="button-text">Person</span></button>
    </div>
    <div class="navigation">
      <button routerLink="tournaments"><span class="srpaqm">›</span> <span class="button-text">Tournament</span>
      </button>
    </div>
  </div>
</div>
