<div appmdl class="component-container">
  <div class="component-header"><h1 style="font-size: 44px;">{{tournament.tournamentName}}</h1></div>
  <div class="component-content">
    <div class="content-left"><h2>Scoreboard</h2>
      <div class="person-list">
        <div class="players">
          <span class="list-header"><span class="person-name">Player ({{personScores.length}})</span><span class="person-score">Score</span></span>
          <hr />
          <div class="scrollable">
            <span *ngFor="let person of personScores"><span class="person-name">{{person | name: 'unknown'}}</span><span class="person-score">{{person.score}}</span></span>
          </div>
        </div>
      </div>
      <div class="button-container">
        <div id="p2" *ngIf="loading === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div class="container row-1">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Show Matches</span></button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Show Printables</span></button>
        </div>
        <div class="container row-2">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Start Tournament</span></button>
        </div>
      </div>
    </div>
    <div class="content-divider"></div>
    <div class="content-divider no-border"></div>
    <div class="content-right">
    </div>
  </div>
</div>
