<div appmdl class="component-container">
  <div class="component-header"><h1>Tournament</h1></div>
  <div class="component-content">
    <div class="content-left"><h2>Tournament List</h2>
      <div class="person-list">
        <div class="person-search">
          <div class="mdl-textfield mdl-js-textfield">
            <input [(ngModel)]="search" (change)="searchChange()" (input)="searchChange()" class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Search</label>
          </div>
        </div>
        <div id="person-list" class="list">
          <!-- TODO: refactor -->
          <button *ngFor="let tournament of searchResults" (click)="selectTournament($event, tournament)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
            <span>{{tournament.tournamentName}}</span>
          </button>
          <span *ngIf="searchResults.length <= 0">Er zijn helaas geen zoekresultaten.</span>
          <!-- end refactor -->
        </div>
      </div>
      <div class="button-container">
        <div id="p2" *ngIf="loading === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div class="container row-1">
          <button (click)="deleteTournament()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
            <span>Delete</span></button>
          <button (click)="enableEditMode()" [disabled]="true" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Edit</span></button>
        </div>
        <div class="container row-2">
          <button (click)="enableAddMode()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Add</span></button>
        </div>
      </div>
    </div>
    <div class="content-divider"></div>
    <div class="content-divider no-border"></div>
    <div class="content-right" *ngIf="editMode === false && addMode === false">
      <h2>Information</h2>
      <div class="person-information">
        <p *ngIf="selectedTournament != null || selectedTournament != undefined">
          <span>Name: </span><span>{{selectedTournament.tournamentName}}</span>
        </p>
        <p *ngIf="(selectedTournament != null || selectedTournament != undefined) && (selectedTournament.tournamentDate != undefined || selectedTournament.tournamentDate != null)">
          <span>Date: </span><span>{{selectedTournament.tournamentDate | date}}</span></p>
        <p *ngIf="(selectedTournament != null || selectedTournament != undefined) && (selectedTournament.roundAmount != undefined || selectedTournament.roundAmount != null)">
          <span>Amount of rounds: </span><span>{{selectedTournament.roundAmount}}</span></p>
        <div *ngIf="selectedTournament != null || selectedTournament != undefined" class="information-button-wrapper">
          <button (click)="goToTournament()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            GO TO TOURNAMENT
          </button>
        </div>
        <div class="person-list" *ngIf="(selectedTournament != null || selectedTournament != undefined)">
          <h3 class="tournament-person-list">person</h3>
          <div id="tournament-person-list" class="list">
            <!-- TODO: refactor -->
            <button *ngFor="let person of selectedTournament.persons" (click)="selectPersonInTournament($event, person)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
              <span>{{person | name: 'unknown'}}</span>
            </button>
            <span *ngIf="selectedTournament.persons.length <= 0">Er zijn geen spelers geregistreerd aan deze tournament.</span>
            <!-- end refactor -->
          </div>
          <div appmdl class="tournament-person-button-container">
            <button (click)="deletePersonFromTournament(selectedTournament)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
              <span>Remove</span></button>
            <button (click)="openPersonPopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
              <span>Add Person</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="edit-person" style="display: none;" class="content-right" *ngIf="editMode === true && addMode === false">
      <h2>Edit Tournament</h2>
      <div appmdl class="add-person-form">
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedTournament.tournamentName" class="mdl-textfield__input" type="text" id="tournamentName-edit">
            <label class="mdl-textfield__label" for="tournamentName-edit">Tournament Name</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedTournament.tournamentDate" class="mdl-textfield__input" type="date" id="tournamentDate-edit">
            <label class="mdl-textfield__label" for="tournamentDate-edit">Date</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="selectedTournament.roundAmount" class="mdl-textfield__input" type="number" id="roundAmount-edit">
            <label class="mdl-textfield__label" for="roundAmount-edit">Amount of rounds</label>
          </div>
        </div>
      </div>
      <div class="right-buttons-container">
        <!--<button (click)="cancelAllModes()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">-->
        <!--<span>Cancel</span></button>-->
        <!--<button (click)="updateTournament()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">-->
        <!--<span>Edit Tournament</span>-->
        <!--</button>-->
      </div>
    </div>
    <div appmdl class="content-right" *ngIf="editMode === false && addMode === true"><h2>Create new Tournament</h2>
      <div class="add-person-form">
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newTournament.tournamentName" class="mdl-textfield__input" type="text" id="tournamentName" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="tournamentName">Name*</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newTournament.tournamentDate" class="mdl-textfield__input" type="date" id="tournamentDate" required>
            <label class="mdl-textfield__label" for="tournamentDate">Date*</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="newTournament.roundAmount" class="mdl-textfield__input" type="number" id="roundAmount" required>
            <label class="mdl-textfield__label" for="roundAmount">Amount of rounds*</label>
          </div>
        </div>
        <div>
          <p>* = required</p>
        </div>
      </div>
      <div class="right-buttons-container">
        <button (click)="cancelAllModes()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
          <span>Cancel</span></button>
        <button (click)="createNewTournament()" [disabled]="!mayCreateNewTournament()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
          <span>Add Tournament</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="delete-popup" class="popup-backdrop hidden">
  <div *ngIf="selectedTournament != null || selectedTournament != undefined" class="popup">
    <p>Are you sure you want to delete <strong>{{selectedTournament.tournamentName}}</strong>?</p>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
        <span>Cancel</span></button>
      <button (click)="disablePopup(); confirmDelete(selectedTournament.tournamentId)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
        <span>Yes</span></button>
    </div>
  </div>
  <div *ngIf="selectedTournament === null || selectedTournament === undefined" class="popup">
    <p>You have not selected a Tournament</p>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary"><span>Ok</span>
      </button>
    </div>
  </div>
</div>
<div id="add-person-popup" class="popup-backdrop hidden">
  <div class="popup">
    <h3>Add person</h3>
    <div class="person-search">
      <div class="mdl-textfield mdl-js-textfield">
        <input [(ngModel)]="searchQueryPerson" (change)="searchPersonChange()" (input)="searchPersonChange()" class="mdl-textfield__input" type="text" id="searchPerson">
        <label class="mdl-textfield__label" for="searchPerson">Search</label>
      </div>
    </div>
    <div class="person-list">
      <button *ngFor="let person of searchPersons" (click)="addPersonToSelection(person)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
        <span>{{person | name}}</span><span *ngIf="person.clubName != null && person.clubName != undefined">&nbsp;({{person.clubName}})</span>
      </button>
    </div>
    <div class="chips">
      <span appmdl class="mdl-chip mdl-chip--deletable" *ngFor="let person of selectedPersons">
        <span class="mdl-chip__text">{{person | name}}</span>
        <span class="mdl-chip__action" (click)="removePersonFromSelection(person)"><i class="material-icons">close</i></span>
      </span>
    </div>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
        <span>Cancel</span></button>
      <button (click)="addPersonsToTournament()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
        <span>Add</span></button>
    </div>
    <div appmdl id="loadingAddPersons" *ngIf="loadingAddPersons === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
</div>
