button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto-Regular", sans-serif;
  color: white;
  padding: 20px;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span {
    top: -18px;
    position: relative;
    font-weight: 600;
  }
  &[class*=db-primary] {
    background-color: $primary;
  }
  &[class*=db-focal] {
    background-color: $complementary;
  }
  &[class*=db-blank] {
    background-color: $tertiary;
    color: black;
  }
}
