.component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  min-height: 100vh;

  .component-header {
    width: 100%;
    text-align: center;
    h1 {
      color: $dark-grey;
      font-family: Lemon/Milk, sans-serif;
      font-size: 72px;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
  .component-content {
    overflow: auto;
  }
}
