* {
  font-family: Roboto-Light, sans-serif;
}

@font-face {
  font-family: Roboto-Light;
  src: url("/assets/fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
  font-family: Roboto-Regular;
  src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Lemon/Milk;
  src: url("/assets/fonts/LemonMilk.otf") format('opentype');
}
