.mdl-textfield__label {
  &:after {
    background-color: $primary;
  }
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: $primary !important;
}

//.mdl-textfield__input {
//  //border-bottom: 1px solid $primary;
//}

.mdl-ripple {
  background: $light-grey !important;
}
