.mdl-progress {
  margin: 5px 0;
  > .bufferbar {
    background-image: none !important;
    background-color: $light-grey;
  }
}

.mdl-progress.mdl-progress--indeterminate > .bar1, .mdl-progress.mdl-progress__indeterminate > .bar1, .mdl-progress.mdl-progress--indeterminate > .bar3, .mdl-progress.mdl-progress__indeterminate > .bar3 {
  background-color: $primary !important;
}
