@import '../../themes/_colors.scss';
@import '../../themes/_fonts.scss';
@import '../../themes/_component.scss';
@import '../../themes/_buttons.scss';
@import '../../themes/_mdl-overwrite.scss';
@import '../../themes/_progressbar.scss';

.component-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  > * > h2 {
    color: $primary;
    text-align: center;
    font-size: 32px;
  }

  .content-left {
    flex-basis: 40%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    position: relative;

    .person-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 46vh;
      flex-basis: 70%;
      overflow: auto;
      .person-search {
        width: 90%;
        height: 15%;
        div {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
      .list {
        width: 90%;
        height: 80%;
        overflow: auto;

        .person-item {
          border-radius: 0;
          width: 100%;
          border-top: solid thin $light-grey;

          &:first-child {
            border-top: none;
          }
          &[class*='person-item-selected'] {
            background-color: $light-grey
          }
        }
      }
    }
    .button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      position: absolute;
      bottom: 0;
      flex-basis: 20%;
      margin-top: auto;
      [class*='row-'] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        margin: 10px 0;
        button {
          height: 30px;
        }
        &[class*='row-1'] {
          button {
            width: 40%;
          }
        }
        &[class*='row-2'] {
          button {
            width: 100%;
          }
        }
      }
    }
  }
  .content-divider {
    flex-basis: 1%;
    align-self: center;
    height: 80%;
    width: 1px;
    border-right: solid thin black;

    &.no-border {
      border: none;
    }
  }
  .content-right {
    flex-basis: 59%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    .person-information {
      width: 90%;
      margin: 0 auto;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
    }
    .add-person-form {
      width: 90%;
      margin: 0 auto;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;

      > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        > .mdl-textfield {
          margin-right: 15px;
          width: 100%;
          &.small-textfield {
            width: 250px;
          }
        }
      }
    }
    .right-buttons-container {
      align-self: flex-end;
      justify-self: flex-end;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      .loading-wrapper {
        width: 100%;
        * {
          width: 100%;
        }
      }
      .button-wrapper {
        align-self: flex-end;
        justify-self: flex-end;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        button {
          height: 30px;
          margin: 0 10px 0 30px;
        }
      }
    }
  }
}

.popup-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
  opacity: 1;

  &.hidden {
    display: none;
    opacity: 0;
    transition: all 1s ease-in;
  }

  .popup {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;

    p {
      width: 100%;
      text-align: center;
      margin: 10px 0 30px 0;
    }
    .popup-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      button {
        width: 40%;
        margin-bottom: 10px;
      }
    }
  }
}

.popup {
  .person-list {
    flex-basis: auto !important;
  }
}

