<div appmdl class="component-container">
  <div class="component-header"><h1>person</h1></div>
  <div class="component-content">
    <div class="content-left"><h2>Person List</h2>
      <div class="person-list">
        <div class="person-search">
          <div class="mdl-textfield mdl-js-textfield">
            <input [(ngModel)]="search" (change)="searchChange()" (input)="searchChange()" class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Search</label>
          </div>
        </div>
        <div id="person-list" class="list">
          <button *ngFor="let person of searchResults" (click)="selectPerson($event, person)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-blank person-item">
            <span>{{person | name}}</span>
          </button>
          <span *ngIf="searchResults.length <= 0">Er zijn helaas geen zoekresultaten.</span>
        </div>
      </div>
      <div appmdl class="button-container">
        <div appmdl id="p250" *ngIf="loading === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div class="container row-1">
          <button (click)="deletePerson()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
            <span>Delete</span></button>
          <button (click)="enableEditMode()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Edit</span></button>
        </div>
        <div class="container row-2">
          <button (click)="enableAddMode()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Add</span></button>
        </div>
      </div>
    </div>
    <div class="content-divider"></div>
    <div class="content-divider no-border"></div>
    <div class="content-right" *ngIf="editMode === false && addMode === false">
      <h2>Information</h2>
      <div class="person-information">
        <p *ngIf="selectedPerson != null || selectedPerson != undefined"><span>Name: </span><span>{{selectedPerson | name}}</span>
        </p>
        <p *ngIf="(selectedPerson != null || selectedPerson != undefined) && (selectedPerson.gender != undefined || selectedPerson.gender != null)">
          <span>Gender: </span><span>{{selectedPerson.gender}}</span></p>
        <p *ngIf="(selectedPerson != null || selectedPerson != undefined) && (selectedPerson.address != undefined || selectedPerson.address != null)">
          <span>Address: </span><span>{{selectedPerson.address}}</span></p>
        <p *ngIf="(selectedPerson != null || selectedPerson != undefined) && (selectedPerson.zipcode != undefined || selectedPerson.zipcode != null)">
          <span>Zipcode: </span><span>{{selectedPerson.zipcode}}</span></p>
        <p *ngIf="(selectedPerson != null || selectedPerson != undefined) && (selectedPerson.phonenumber != undefined || selectedPerson.phonenumber != null)">
          <span>Phonenumber: </span><span>{{selectedPerson.phonenumber}}</span></p>
        <p *ngIf="(selectedPerson != null || selectedPerson != undefined) && (selectedPerson.email != undefined || selectedPerson.email != null)">
          <span>Email: </span><span>{{selectedPerson.email}}</span></p>
        <p *ngIf="(selectedPerson != null || selectedPerson != undefined) && (selectedPerson.clubName != undefined || selectedPerson.clubName != null)">
          <span>Club: </span><span>{{selectedPerson.clubName}}</span></p>
      </div>
    </div>
    <div id="edit-person" class="content-right" *ngIf="editMode === true && addMode === false"><h2>Edit Person</h2>
      <div appmdl class="add-person-form">
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedPerson.firstname" class="mdl-textfield__input" type="text" id="firstname-edit" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="firstname-edit">Firstname*</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="selectedPerson.prefix" class="mdl-textfield__input" type="text" id="prefix-edit">
            <label class="mdl-textfield__label" for="prefix-edit">prefix</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedPerson.lastname" class="mdl-textfield__input" type="text" id="lastname-edit" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="lastname-edit">Lastname*</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedPerson.email" class="mdl-textfield__input" type="text" id="email-edit">
            <label class="mdl-textfield__label" for="email-edit">E-mail</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedPerson.address" class="mdl-textfield__input" type="text" id="address-edit">
            <label class="mdl-textfield__label" for="address-edit">Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="selectedPerson.zipcode" class="mdl-textfield__input" type="text" id="zipcode-edit">
            <label class="mdl-textfield__label" for="zipcode-edit">Zipcode</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedPerson.phonenumber" class="mdl-textfield__input" type="text" id="phonenumber-edit">
            <label class="mdl-textfield__label" for="phonenumber-edit">Phonenumber</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="selectedPerson.gender" class="mdl-textfield__input" type="text" id="gender-edit">
            <label class="mdl-textfield__label" for="gender-edit">Gender</label>
          </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <select [(ngModel)]="selectedPerson.clubId" class="mdl-textfield__input" id="clubId-edit" name="club">
            <option value="null">Geen club</option>
            <option *ngFor="let club of sharedServ.allClubs" value="{{club.clubId}}">{{club.name}}</option>
          </select> <label class="mdl-textfield__label" for="clubId-edit">Club</label>
        </div>
        <div>
          <p>* = required</p>
        </div>
      </div>
      <div class="right-buttons-container">
        <div class="loading-wrapper">
          <div appmdl id="edit-loading" *ngIf="loadingedit === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="button-wrapper">
          <button (click)="cancelAllModes()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
            <span>Cancel</span></button>
          <button (click)="editPerson()" [disabled]="!mayEditPerson()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Edit Person</span>
          </button>
        </div>
      </div>
    </div>
    <div appmdl class="content-right" *ngIf="editMode === false && addMode === true"><h2>Create new Person</h2>
      <div class="add-person-form">
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.firstname" class="mdl-textfield__input" type="text" id="firstname" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="firstname">Firstname*</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="newPerson.prefix" class="mdl-textfield__input" type="text" id="prefix">
            <label class="mdl-textfield__label" for="prefix">prefix</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.lastname" class="mdl-textfield__input" type="text" id="lastname" pattern="^(?![\s]+?).*$" required>
            <label class="mdl-textfield__label" for="lastname">Lastname*</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.email" class="mdl-textfield__input" type="text" id="email">
            <label class="mdl-textfield__label" for="email">E-mail</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.address" class="mdl-textfield__input" type="text" id="address">
            <label class="mdl-textfield__label" for="address">Address</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label small-textfield">
            <input [(ngModel)]="newPerson.zipcode" class="mdl-textfield__input" type="text" id="zipcode">
            <label class="mdl-textfield__label" for="zipcode">Zipcode</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.place" class="mdl-textfield__input" type="text" id="place">
            <label class="mdl-textfield__label" for="place">Place</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.phonenumber" class="mdl-textfield__input" type="text" id="phonenumber">
            <label class="mdl-textfield__label" for="phonenumber">Phonenumber</label>
          </div>
        </div>
        <div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input [(ngModel)]="newPerson.gender" class="mdl-textfield__input" type="text" id="gender">
            <label class="mdl-textfield__label" for="gender">Gender</label>
          </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <select [(ngModel)]="newPerson.clubId" class="mdl-textfield__input" id="clubId" name="club">
            <option value="null">Geen club</option>
            <option *ngFor="let club of sharedServ.allClubs" value="{{club.clubId}}">{{club.name}}</option>
          </select> <label class="mdl-textfield__label" for="clubId">Club</label>
        </div>
        <div>
          <p>* = required</p>
        </div>
      </div>
      <div class="right-buttons-container">
        <div class="loading-wrapper">
          <div appmdl id="add-loading" *ngIf="loadingadd === true;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="button-wrapper">
          <button (click)="cancelAllModes()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
            <span>Cancel</span></button>
          <button (click)="createNewPerson()" [disabled]="!mayCreateNewPerson()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
            <span>Add Person</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="delete-popup" class="popup-backdrop hidden">
  <div *ngIf="selectedPerson != null || selectedPerson != undefined" class="popup">
    <p>Are you sure you want to delete <strong>{{selectedPerson | name}}</strong>?</p>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary">
        <span>Cancel</span></button>
      <button (click)="disablePopup(); confirmDelete(selectedPerson.personId)" class="mdl-button mdl-js-button mdl-js-ripple-effect db-focal">
        <span>Yes</span></button>
    </div>
  </div>
  <div *ngIf="selectedPerson === null || selectedPerson === undefined" class="popup">
    <p>You have not selected a person</p>
    <div class="popup-buttons">
      <button (click)="disablePopup()" class="mdl-button mdl-js-button mdl-js-ripple-effect db-primary"><span>Ok</span>
      </button>
    </div>
  </div>
</div>
