@import "themes/_colors.scss";
@import "themes/_progressbar.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mdl-ripple {
  background: $dark-grey !important;
}

.popup {
  .person-list {
    flex-basis: auto !important;
  }
}
